@using HelpDesk.Controllers
@model List<EmployeeViewModel>;

<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">FullName</th>
			<th scope="col">Post</th>
			<th scope="col">Skills</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var m in Model)
		{
			<tr>
				<td>@m.Id</td>
				<td>@m.FullName</td>
				<td>@m.Post</td>
				<td>@m.Skills</td>
				<td><a href="@Url.Action(nameof(EmployeeController.Details), new {id = m.Id})">@nameof(EmployeeController.Details)</a></td>
				<td><a href="@Url.Action(nameof(EmployeeController.Edit), new {id = m.Id})">@nameof(EmployeeController.Edit)</a></td>
				<td><a href="@Url.Action(nameof(EmployeeController.Delete), new {id = m.Id})">@nameof(EmployeeController.Delete)</a></td>
			</tr>
		}
	</tbody>
</table>

<div style="display:block">
	<a href="@Url.Action(nameof(EmployeeController.Create))"> Add Employee </a>
</div>