@using HelpDesk_BLL.Contracts
@using HelpDesk_DomainModel.Models.ECommerce
@using HelpDesk_DomainModel.Models.Identity
@using HelpDesk_MVC.Controllers
@using System.Linq
@model Order;

<h2>Edit Order</h2>

@using (Html.BeginForm(
					actionName: nameof(OrderController.Edit),
					controllerName: Html.ViewContext.RouteData.Values["controller"].ToString(),
					FormMethod.Post))
{
	@Html.AntiForgeryToken()

	@Html.HiddenFor(model => model.UserId)
	<div class="form-group">
		@Html.LabelFor(model => model.OrderText, new { @class = "form-label m-2" })
		@Html.TextAreaFor(model => model.OrderText, new { @class = "form-control" })
		@Html.ValidationMessageFor(model => model.OrderText, "", new { @class = "text-danger" })
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Date, new { @class = "form-label m-2" })
		@Html.TextBoxFor(model => model.Date, new { @class = "form-control", @readonly = true })
		@Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.Address, new { @class = "form-label m-2" })
		@Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
		@Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Phone, new { @class = "form-label m-2" })
		@Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
		@Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
	</div>

	<div class="row">
		<div class="col">
			@Html.LabelFor(model => model.MinCost, new { @class = "form-label m-2" })
			@Html.TextBoxFor(model => model.MinCost, new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.MinCost, "", new { @class = "text-danger" })
		</div>

		<!-- Employee's last name -->
		<div class="col">
			@Html.LabelFor(model => model.MaxCost, new { @class = "form-label m-2" })
			@Html.TextBoxFor(model => model.MaxCost, new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.MaxCost, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.Status, new { @class = "form-label m-2" })
		@Html.DropDownListFor(model => model.Status,
				Html.GetEnumSelectList<OrderStatusEnum>(),
				null,
				new { @class = "form-select" })
	</div>
	//submit button
	<div class="form-group">
		<input type="submit" value="Edit" class="btn btn-success m-2" />
	</div>
	<div class="form-group">
		<a href="@Url.Action(nameof(OrderController.List))" class="card-link">Back to list</a>
	</div>

}