@using HelpDesk_BLL.Contracts
@using HelpDesk_MVC.Controllers
@using HelpDesk_DomainModel.Models
@model List<OrderBriefModel>?
<table class="table">
	<thead>
		<tr>
			<th scope="col">Customer</th>
			<th scope="col">OrderText</th>
			<th scope="col">Date</th>
			<th scope="col">Status</th>
			<th scope="col">Address</th>
			<th scope="col">Phone</th>
			<th scope="col">MinCost</th>
			<th scope="col">MaxCost</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var order in Model ?? new List<OrderBriefModel>())
		{
			<tr>
				<td>@order.User.Email</td>
				<td>@order.OrderText</td>
				<td>@order.Date</td>
				<td>@order.Status</td>
				<td>@order.Address</td>
				<td>@order.Phone</td>
				<td>@order.MinCost</td>
				<td>@order.MaxCost</td>
				<td>
					<a href="@Url.Action(nameof(OrderController.Edit), new {id = order.Id})">Edit</a> |
					<a href="@Url.Action(nameof(OrderController.Delete), new {id = order.Id})">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>

@if (ViewBag.Page > 0)
{
	<a href="@Url.Action("ListForManager", new { page = ViewBag.Page - 1 })"
	   class="btn btn-primary m-2">
		&laquo; Prev
	</a>
}
@if (ViewBag.Page < ViewBag.MaxPage)
{
	<a href="@Url.Action("ListForManager", new { page = ViewBag.Page + 1 })"
	   class="btn btn-primary m-2">
		Next &raquo;
	</a>
}

<div style="display:block">
	<a href="@Url.Action(nameof(OrderController.Create))" class="btn btn-success m-2"> Add Order </a>
</div>